body{
    background-color: #ebebeb;
    text-align: center;
    font-family: "Open sans", sans-serif;
    font-weight: 300px 400px 800px;
    display: swap;
}
h1{
    color: #dd5555;
    font-size: 1.7em;
    font-weight: bolder;
}
h2, h3, a{
    color: #7d7d7d;
    font-weight: normal;
}
p{
    color: #7d7d7d;
    text-align: justify;
    font-weight: lighter;
}
#intro{
    background-color: #ffffff;
}
#intro img{
    border: 4px solid #cccccc;
    border-radius: 50%;
    width: 10em;
}
.see{
    border: 1px solid #dd5555;
    border-radius: 0.1rem;
    background-color: #dd5555;
    color: white;
    font-family: "Open sans", sans-serif;
    font-size: 1.1em;
    text-align: center;
}
.see:link{
    text-decoration: none;
}
#social{
    background-color: #ffffff;
    size: 1.1em;
    font-size: 1.1em;
}
li{
    list-style-type: none;
}
.container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
}
.grid-item, .grid-item1 {
    font-size: 1.1em;
}
a{
    text-decoration: none;
    font-weight: lighter;
}
i .fab{
    font-size: 4em;
    font-weight: lighter;
    float: left;
}

#movie{
    background-color: #ffffff;
}
.movie{
    background-color: #d4d4d4;
}
.grid-container{
    display: inline-block;
    grid-template-rows: auto auto auto;
    grid-row-gap: 2em;
}
.item {
    font-size: 1.1em;
    vertical-align: text-bottom;
    position: relative;
}
.odyssey img{
    float: left;
    width: 7em;
}
.odyssey p{
    text-align: justify;
    align-self: center;
    position: inherit;
}
.hulot img{
    float: left;
    width: 8em;
}
.hulot p{
    text-align: justify;
    font-size: 1.1em;
    position: inherit;
}
.alien img{
    float: left;
    width: 7.5em;
}
.alien p{
    text-align: justify;
    position: inherit;
}
@media screen and (max-width: 300px) {
    body{
        max-width: 90%;
        margin-left: 20%;
        margin-right: 20%;
    }
    h1{
        font-size: 0.8em;
    }
    h2, h3, p, a{
        font-size: 0.5em;
    }
    #intro{
        margin: 3%;
        padding: 3%;
        padding-bottom: 5%;
    }
    #intro img{
        width: 5em;
    }
    .see{
        font-size: 0.8em;
    }
    #social{
        margin: 0em;
        padding: 0em;
        font-size: 0.8em;
    }
    .container{
        display: block;
        padding: 5%;
    }
    .grid-item, .grid-item1{
        text-align: center;
   
    }
    #movie{
        margin: 3%;
        padding: 3%;
    }
    .item{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .odyssey p, .hulot p, .alien p{
        margin-left: 5%;
       }
}
@media screen and (min-width: 300px) and (max-width: 768px){
    body{
        max-width: 90%;
        margin-left: 20%;
        margin-right: 20%;
    }
    #intro{
        margin: 3%;
        padding: 3%;
    }
   #social{
    margin: 3%;
    padding: 3%;
   }
   .container{
    grid-column-gap: 2em;
   }
   #movie{
    margin: 3%;
    padding: 3%;
   }
   .item{
    padding-top: 5%;
    padding-bottom: 5%;
   }
   .odyssey p, .hulot p, .alien p{
    margin-left: 45%;
   }
}
@media screen and (min-width: 768px) {
    body{
        max-width: 90%;
        margin-left: 20%;
        margin-right: 20%;
    }
    #intro{
        margin: 3%;
        padding: 3%;
    }
    #movie{
        margin: 3%;
        padding: 3%;
    }
    .item{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .odyssey p, .hulot p, .alien p{
        margin-left: 22%;
       }
}
